body {
  width: 100%;
  height: 100%;
  font-family: Source Sans Pro,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  background-color: #e2e6e5;
  font-size: 16px;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

a {
  color: #42dca3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-toggle {
 
  i {
    
    color: #a1b0ab;
    
  }
  
}

.bg-primary {
 
  background-color: @brand-primary;
  
}

.bg-secondary {
 
  background-color: #babdaa;
  
}

.bg-light {
 
  background-color: #C3DAC3;
  
}

.bg-default {
 
//  background-color: #DAD3CB;
  background-color: #fff;
  
}

hr.small {
  
  max-width: 100px;
  
}

.section-header {
 
  overflow: hidden;
  margin-bottom: 20px;
  
}

.separator {
 
  padding: 20px;
  margin: 25px 0;
  
}

figcaption {
 
  color: #fff;
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
  
}

blockquote {
  
  margin-bottom: 0;
  color: #3e3e3e;
  
  cite {
   
    font-size: 14px;
    display: block;
    font-style: normal;
    
    + cite {
      
      line-height: 120%;
      
    }
    
  }
  
  img {
    
    border: 2px solid #eee;
    
  }
  
  .cite-title {
   
    font-size: 20px;
    
  }
  
}

.section-title {
 
  margin-top: 20px;
  margin-bottom: 10px;
  
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #F5F5F5;
  border-bottom: 1px solid #DDD;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #dad3cb;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #a1b0ab;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #dad3cb;
    background-color: #846d50;
}

.intro  {
  
  .intro-body {
    display: table-cell;
    vertical-align: middle;
  }
  
}

.intro {
  .intro-body {
    .brand-heading {
      font-size: 40px;
    }
  }
}

.intro {
  .intro-body {
    .intro-text {
      font-size: 18px;
    }
  }
}

.section {
 
  padding: 50px 0;
  
}

.segmentos-item {
 
  margin-bottom: 30px;
  
}

.valores {
 
  margin-top: 40px;
  
}

.valores-item {
 
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  
}

.valores-numero {
 
  font-size: 50px;
  color: #3b5e3b;
  
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #dad3cb;
    border-radius: 100%!important;
    font-size: 40px;
    color: #dad3cb;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

//.collapse {
// 
//  display: none;
//  
//}
//
//.collapse.in {
// 
//  display: block;
//  
//}


@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@media(min-width:768px) {
  
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    background: 0 0;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDD;
    
    a {
      
      color: #d8bb99;
      
    }
    
  }
  
  .intro {
    height: 100%;
    padding: 0;
  }

  .intro {
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
    }
  }

  .intro {
    .intro-body {
      .intro-text {
        font-size: 26px;
      }
    }
  }
}
